html{
    font-family: system-ui;
    color: #000;
}
body { 
    display: grid;
    grid-template-areas:
        "header header  header"
        "left article  right"
        "left article  right"
        "left article  right"
        "footer footer  footer";
    grid-template-rows: 55px 1fr 0 0 70px;
    grid-template-columns: auto 80%  auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    min-height: 100vh;
    margin: 0;
    background-color: #262b30;
    overflow-x: hidden;
  }  
header, footer,main, article, div {
  padding: 1.2em;

  }
header {
  grid-area: header;
  background-color: #632a97;
  padding: 0;
  color: #e1e1e1;
  }
footer {
  grid-area: footer;
  background-color: #1b2127;
  text-align: center;
  color: #8E9198;
  }
main { 
  grid-area: article;
  height: fit-content; 
  background-color: #fff;
  display: inline-block;
  
  }
nav { 
  grid-area: nav; 
  height: fit-content;

}
.ads{
    height: fit-content;
    background-color: brown;
    margin: 50px auto;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 975px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "nav"
      "footer";
    grid-template-rows: max-content 1fr max-content 70px;  
    grid-template-columns:100%;
    height: fit-content;
    text-align: center;
 }
 .card{
  height: 230px!important;
  width: 330px!important;
  margin: auto;
  padding: 0;
 }
}
.sizeTitle{
  padding: 0!important;
}
.sizeTitle:hover{
  background-color: #00000000!important;
}
ul.topnav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    margin-top: 5px;
  }
  ul.topnav li {
    float: left;
}
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.7em 2em;
    margin: -0.3em -0.8em;
    text-decoration: none;
    font-weight: 700;
    border-radius: 0 55px;
  }
  
  ul.topnav li a:hover:not(.active) {
    color: #29b3d2;
    background-color: #262b30;
    
}
  
  ul.topnav li a.active {
    color: #29b3d2;
    background-color: #262b30;
}
  @media all and (max-width: 975px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
.active{
    color: #29b3d2;
}
h1{
    margin: 0;
    padding: 0.3em 1.2em;
    display: inline-flex;
}
.card{
  height: 230px;
  max-height: 230px;
  max-width: 350px;
  border: 2px solid #8E9198;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin: 7px;
  display: inline-block;
}
.card:hover> a>.imgWraper{
  visibility: visible;
  cursor: pointer;
}
.card > img{
  width: 100%;
  max-width: 350px;
  max-height: 180px;
}
.imgWraper{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  color: #e1e1e1;
  font-size: 120px;
  text-align: center;
}
.blue{
  background-color: #29b3d2e0;
}
.green{
  background-color: #29d2ade0;
}
.orange{
  background-color: #d26729e0;
}